@model IEnumerable<YachtRent.Models.Customers>

@{
    ViewBag.Title = "Index";
}

<h2>Klienci</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create" , new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.CustomerID } , new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.CustomerID },  new { @class = "btn btn-info" }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.CustomerID },  new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
