@model YachtRent.Models.Yachts

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Czy napewno chcesz usunąć?</h3>
<div>
    <h4>Yachts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YachtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YachtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cabins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cabins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Showers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Showers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avaliable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avaliable)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
